@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

header {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 40vh;
    min-height: 100px;
    background-image: url("/images/layout/header.webp");
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.esprit {
    color: blue;
    font-size: clamp(25px, 10vh, 80px);
}

.deco {
    color: red;
    font-size: clamp(25px, 10vh, 80px);
}

.slogan {
    color: black;
    font-size: clamp(15px, 3vh, 22px);
}